/**
 * post page
 */

@mixin header-title() {
	color: white;
	// padding-left: 30px;
}

.post-title {
	@include header-title;
	padding-top: 20px;
}

.post-meta {
	@include header-title;
	padding-bottom: 20px;
}

.post-link {
	font-size: 20px;
	color: $title-color;
}

.post-date {
	color: $grey-color;
	font-size: 13px;
}

.post-description {
	color: $grey-color;
	font-size: 13px;
}

table {
	max-width: 100%;
	border-collapse: collapse;
	tr {
		th,td {
			border: solid #dbdfd6 1px;
			padding: 5px;
		}
	}
}

.site-footer-links {
	margin: 0;
	list-style: none;
	font-size: 13px;
	li {
		display: inline-block;
	}
}


.pagination-link {
	height: 28px;
	border-top: 1px dashed #898989;
	margin: 10px 0 80px 0;
	padding: 10px 0 0;
	.prev {
		float: left;
	}
	.next {
		float: right;
	}

	a {
		color: #000;
		padding: 0 8px;
		line-height: 28px;
		&:hover {
			color: $title-color;
		}
	}
}

.archive-list {
	padding-top: 10px;
	ul {
		li {
			a {
				// color: $title-color;
			}
		}
	}
}

.tag-list {
	padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
	list-style: none;
    border-bottom: 1px dashed #898989;

    > li {
        display: inline-block;
        padding-right: 10px;
        a {
        	color: $title-color;
        	span {
        		    vertical-align: super;
				    font-size: 0.8em;
        	}
        }
    }
}

