---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" data-geopattern-key="{{ page.title }}">
  	<div class="wrapper">
	    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </div>
  </header>
  <div class="wrapper">
	  <div class="post-content" itemprop="articleBody">
	    {{ content }}
      <span>本文地址 <a href="{{ page.url | prepend: site.url }}">{{ page.url | prepend: site.url }}</a> 转载请注明出处</span>
	  </div>
    <nav class="pagination-link">
      {% if page.previous %}
      <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
      {% endif %}
      {% if page.next %}
      <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
      {% endif %}
    </nav>
    <section>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          // this.page.url = "{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ page.title }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//jialeicuigithubcom.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </section>
  </div>

</article>
